<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar vehículo</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
  body {
    background-color: lightcyan; 
    background-image: radial-gradient(circle at 9.37% 15.91%, #ffffff 0, #ffffff 12.5%, #ffffff 25%, #f4f7f7 37.5%, #dbecee 50%, #c2e0e7 62.5%, #abd5e2 75%, #98cbdf 87.5%, #87c1dd 100%); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black; 
  }
  header {
    background-color: transparent;
  }
  .container {
      color: black; 
  }
  h1 {
      color: black; 
      text-shadow: 0px 0px 5px #00fff0;
  }
</style>
<body>
  <header class="bg-gray-800">
    <nav class="container mx-auto flex justify-between items-center p-4">
      <h1 class="text-white font-bold">Agregar vehículo</h1>
      <button class="bg-blue-500 text-white font-bold p-2 rounded">
        {{ email }}
      </button>
    </nav>
  </header>

  <main class="container mx-auto mt-4">
    <div class="flex justify-center">
      <form class="w-500" action="guardarVehiculo" method="POST">
        <form class="flex flex-col">

          <div class="flex flex-col w-full">
            <label class="text-gray-600 mb-2">Vehículo:</label>
            <select id="vehiculo" name="vehiculo" class="border border-gray-300 p-2 rounded" required>
              <option value="Auto">Auto</option>
              <option value="Moto">Moto</option>
              <option value="Camioneta">Camioneta</option>
              <option value="Camion">Camion</option>
              <option value="Cuatrimoto">Cuatrimoto</option>
              <option value="Scooter">Scooter</option>
            </select>
          </div>

          <div class="flex flex-col w-full">
            <label class="text-gray-600 mb-2">Año:</label>
            <input type="number" id="year" name="year" class="border border-gray-300 p-2 rounded" required>
          </div>

          <div class="flex flex-col w-full">
            <label class="text-gray-600 mb-2">Marca:</label>
            <input type="text" id="marca" name="marca" class="border border-gray-300 p-2 rounded" required>
          </div>

          <div class="flex flex-col w-full">
            <label class="text-gray-600 mb-2">Color:</label>
            <input type="text" id="color" name="color" class="border border-gray-300 p-2 rounded" required>
          </div>

          <div class="flex flex-col w-full">
            <label class="text-gray-600 mb-2">Combustible:</label>
            <select id="combustible" name="combustible" class="border border-gray-300 p-2 rounded" required>
              <option value="bencina">Bencina</option>
              <option value="diesel">Diesel</option>
              <option value="electrico">Eléctrico</option>
            </select>
          </div>
          
          <div class="flex flex-col w-full">
            <label class="text-gray-600 mb-2">Número de Puertas:</label>
            <input type="number" id="numPuertas" name="numPuertas" class="border border-gray-300 p-2 rounded" required>
          </div>

          <div class="flex flex-col w-full">
            <label class="text-gray-600 mb-2">Tracción:</label>
            <input type="text" id="traccion" name="traccion" class="border border-gray-300 p-2 rounded" required>
          </div>

          <div class="flex flex-col w-full">
            <button type="submit" class="bg-blue-500 text-white font-bold p-2 rounded mt-4">Agregar</button>
          </div>

        </form>
      </form>
    </div>
  </main>
</body>
</html>